@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    cursor: default;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.3s;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

button,
input,
button * {
    cursor: pointer;
}

#root {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

:is(.dark #root){
    background-color: #303030;
}